.c-burger {
  position: fixed;
  top: 0.8rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  z-index: 101;
  pointer-events: auto;
}

.c-burger__line {
  width: 20px;
  height: 1px;
  background-color: #fff;
  transform-origin: left;

  &:nth-of-type(2) {
    margin: 5px 0 0;
    transform: scaleX(calc(32 / 40));
  }
}
