.o-grid {
  position: relative;
  margin-left: -4rem;
  font-size: 0;
  letter-spacing: normal;
}

.o-grid__item {
  display: inline-block;
  width: 100%;
  padding-left: 4rem;
  font-size: 1rem;
  vertical-align: top;
}
