.l-progress {
  position: fixed;
  top: calc(var(--vh) * 50);
  right: 1rem;
  z-index: 2;
  pointer-events: none;
  transform: translate(0, -50%);
}

.c-progressBar {
  position: relative;
  display: inline-block;
  width: 1px;
  height: 3.5rem;
  vertical-align: middle;
  background: currentColor;
  margin: 1.5em auto;

  @media (min-width: 640px) {
    width: 2px;
    height: 4rem;
  }
}

.c-progressBar__l {
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  transform-origin: top center;

  &:before {
    display: block;
    width: 1px;
    height: 100%;
    content: "";
    background-color: var(--color-theme);

    @media (min-width: 640px) {
      width: 2px;
    }
  }
}
