@use '~css/base/_import.scss';

.worksIndexLoadingSpin {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  border: 2px solid var(--color-theme);
  border-top-color: transparent;
  border-radius: 100%;
  opacity: .8;
  animation: spin .75s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}
