:root {
  --font: 'Noto Sans JP', sans-serif;
  --font-en: 'Montserrat', sans-serif;
  --font-roboto: 'Roboto Condensed', sans-serif;

  --grid: calc(1 / 12 * 100vw);
  --gutter: 0;
  --grid-gutter: 1.6rem;

  --vh: 1vh;

  --gap: calc(30 / 750 * 100vw);
  --aspect: 100%;

  /* color */
  --color-text: #e3e3e3;
  --color-text-primary: #858585;
  --color-primary: #1793a9;

  /* noise */
  --z-noise: 1;
  --z-section: 5;
  --z-header: 10;
  --z-mask: 90;
  --z-menu: 100;

  @media (--pc) {
    --gap: calc(40 / 1280 * 100vw);
    --gutter: calc(16 / 1280 * 100vw);
  }
}
