@use '~css/base/_import.scss';

.worksDetailCaptchaList {
  padding: 0 var(--gap);
  margin-bottom: 10.5rem;

  @media (--pc) {
    width: calc(var(--grid) * 10);
    padding: 0;
    margin: 0 auto 12rem;
  }

  > li {
    margin-bottom: 2rem;

    @media (--pc) {
      margin-bottom: 6rem;
    }

    .c-aspect {
      opacity: .2;
    }
  }
}
