@use '~css/base/_import.scss';

.plus__x {

  @nest .is-hover & {
    animation: drawAnim 0.6s;
  }
}

.plus__y {

  @nest .is-hover & {
    animation: drawAnim 0.6s 0.3s;
  }
}

@keyframes drawAnim {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
