@use '~css/base/_import.scss';

.worksBody {
  padding-top: 10rem;

  @media (--pc) {
    padding-top: 15rem;
  }
}

.entryListGroup {
  > .entryList {
    &:last-child {
      padding-bottom: 6.4rem;

      @media (--pc) {
        padding-bottom: 24.4rem;
      }
    }
  }
}

.entryList {
  padding: 0 calc(var(--gap) * 2);

  @media (--pc) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(var(--grid) * 10);
    padding: 0;
    margin: 0 auto;
  }

  :global {
    .o-grid__item {
      margin-bottom: 4rem;

      @media (--pc) {
        width: calc(var(--grid) * 4);
        margin-bottom: 6.4rem;

        &:nth-child(2n - 1) {
          margin-top: 9.6rem;
          margin-left: 3.4rem;
        }
      }
    }
  }
}

.entryLoader {
  padding: 3.2rem 0;
  text-align: center;
}

.loadingSpin {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  border: 2px solid var(--color-theme);
  border-top-color: transparent;
  border-radius: 100%;
  opacity: .8;
  animation: spin .75s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}
