@use '~css/base/_import.scss';

.heading {
  // position: sticky;
  // top: 10rem;
  position: relative;
  padding: 0 calc(var(--gap) * 2);
  margin: 10rem 0 6rem;
  font-family: var(--font-roboto);
  font-size: 5.3rem;
  font-weight: bold;
  line-height: 1;
  // will-change: opacity;

  @media (--pc) {
    position: relative;
    width: calc(var(--grid) * 10);
    padding: 0 0 0 calc(var(--grid) * 0.5 + var(--gutter));
    margin: 14rem auto 3.6rem;
    font-size: 7.6rem;
  }

  > sup {
    position: absolute;
    top: 0.5em;
    margin-left: 0.5em;
    font-family: var(--font-en);
    font-size: calc(26.6 / 106.4 * 100%);
    font-weight: 500;
    color: var(--color-text-primary);
    letter-spacing: 0.41em;
  }
}

.entryList {
  padding: 0 calc(var(--gap) * 2) 6.4rem;

  @media (--pc) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(var(--grid) * 10);
    padding: 0 0 24.4rem;
    margin: 0 auto;
  }

  :global {
    .o-grid__item {
      margin-bottom: 4rem;

      @media (--pc) {
        width: calc(var(--grid) * 4);
        margin-bottom: 6.4rem;

        &:nth-child(2n - 1) {
          margin-top: 9.6rem;
          margin-left: 3.4rem;
        }
      }
    }
  }

  // [data-scroll-skew] {
  //   backface-visibility: hidden;
  // }
}

.loader {
  padding: 3.2rem 0;
}
