:root {
  --font: "Noto Sans JP", sans-serif;
  --font-en: "Playfair Display", serif;
  --font-roboto: "Roboto Condensed", sans-serif;

  --grid: calc(1 / 12 * 100vw);
  --gutter: 0;
  --grid-gutter: 1.6rem;

  --vh: 1vh;

  --gap: calc(30 / 750 * 100vw);
  --aspect: 100%;

  --color-text: #e3e3e3;
  --color-text-primary: #858585;
  --color-theme: #1793a9;

  --ease-power3-inOut: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-opacity: cubic-bezier(0.26, 0.06, 0, 1);

  @media (min-width: 640px) {
    --gap: calc(40 / 1280 * 100vw);
    --gutter: calc(16 / 1280 * 100vw);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: calc(var(--vh) * 100);
  min-height: 100svh;
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;

  @media screen and (max-width: 1080px) {
    font-size: 9px;
  }

  @media screen and (max-width: 960px) {
    font-size: 8px;
  }

  @media screen and (max-width: 854px) {
    font-size: 7px;
  }

  @media screen and (max-width: 767px) {
    font-size: 6px;
  }

  @media screen and (max-width: 639px) {
    font-size: 10px;
  }

  @media (min-width: 1680px) {
    font-size: 12px;
  }
}

body {
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  overflow-x: clip;
  color: var(--color-text);
  background: #191918;
  font-family: var(--font);
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-feature-settings: "palt" 1;

  & ::-moz-selection {
    color: #fff;
    background: var(--color-theme);
  }

  & ::selection {
    color: #fff;
    background: var(--color-theme);
  }

  @media (min-resolution: 1.5dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

picture {
  display: block;
}

summary {
  display: block;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

:where(ul, ol) {
  list-style: none;
  list-style-type: "";
  padding: unset;
}

:where(button, [type="button"], [type="reset"], [type="submit"]) {
  touch-action: manipulation;
}

:where(
    :any-link,
    button,
    [type="button"],
    [type="reset"],
    [type="submit"],
    label[for],
    select,
    summary,
    [role="tab"],
    [role="button"]
  ) {
  cursor: pointer;
}

:focus:not(:focus-visible) {
  outline: none;
}

[data-whatinput="touch"] :focus {
  outline: none;
}

:focus {
  outline-color: var(--color-theme);
}

:any-link {
  //
}

[hidden]:not([hidden="until-found"]) {
  display: none !important;
}
