.intro {
  position: relative;

  @media (min-width: 640px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.intro__info {
  @media (min-width: 640px) {
    margin-bottom: 0;
  }
}

.dl + .dl {
  margin-top: 1.6rem;

  @media (min-width: 640px) {
    margin-top: 3.5rem;
  }
}

.dt {
  font-size: 1.1rem;
  font-family: var(--font-en);
  font-style: italic;
  color: var(--color-text-primary);
  line-height: calc(52 / 24);
  white-space: nowrap;
}

.dd {
  font-size: 1.3rem;
  font-family: var(--font-roboto);
  font-weight: 300;
  line-height: calc(38 / 26);
  color: #cbcbcb;
}

.intro__desc {
  @media (min-width: 640px) {
    width: calc(5 / 8 * 100%);
    text-align: right;
  }
}

.introDescription {
  font-size: 1.3rem;
  line-height: calc(46 / 26);
  margin-top: 3.5rem;

  @media (min-width: 640px) {
    margin-top: 0;
    font-size: 1.3rem;
    text-align: left;

    & + a {
      margin-top: 3.5rem;
    }
  }
}

.captchaItems {
  padding: 0 1.5rem;

  @media (min-width: 640px) {
    width: calc(var(--grid) * 10);
    padding: 0;
    max-width: 154.4rem;
  }
}
