@import '~css/base/_import.scss';

.homeScreen {
  position: relative;
  height: calc(var(--vh) * 100);
}

.homeWorksList {
  position: relative;
  width: 100%;
  height: 100%;

  > li {
    &:first-child {
      .homeHeading {
        opacity: 1;

        + p {
          opacity: 1;
        }
      }

      .homeNum {
        opacity: 1;
      }
    }
  }
}

.homeGroup {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  width: auto;
  display: inline-block;
  padding-left: var(--grid);
  color: #fff;
}

.homeHeading {
  padding-left: 1.2rem;
  font-family: var(--font-roboto);
  font-size: 3.9rem;
  font-weight: 600;
  line-height: 1.4;
  line-height: 1;
  color: #fff;
  opacity: 0;

  @media (--pc) {
    font-size: 7rem;
  }

  + p {
    font-family: var(--font-roboto);
    font-size: 1.3rem;
    line-height: 1;
    color: var(--color-text-primary);
    letter-spacing: 0.02em;
    padding-left: 1.2rem;
    margin-top: 1rem;
    opacity: 0;

    .icon-arrow-right {
      font-size: .7rem;
      margin-left: .8rem;
    }
  }
}

.homeNum {
  font-family: var(--font-en);
  font-weight: 700;
  letter-spacing: -.02em;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1;
  position: absolute;
  top: calc(-1em - 2rem);
  backface-visibility: hidden;
  z-index: 2;
  opacity: 0;

  @media (--pc) {
    // font-size: 1.3rem;
  }

  > span {
    font-size: .8rem;
    letter-spacing: 0.02em;
    margin-left: 0.5rem;
  }
}

.homeBtm {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
  z-index: 2;

  .icon-arrow-down {
    display: block;
    text-align: center;
    margin-top: 1.2rem;
  }
}

.homeBtm__label {
  font-family: var(--font-en);
  font-weight: 700;
  display: inline-block;
  letter-spacing: -.02em;
  font-size: 1.4rem;
  color: #fff;
  line-height: 1;

  @media (--pc) {
    font-size: 1.3rem;
  }

  > span {
    font-size: 1rem;
    letter-spacing: 0.02em;
    margin-left: 0.4rem;
  }
}


/*
.home {
  overflow: hidden;
}

.home-slider {
  position: relative;
  padding: 0 calc(432 / 2560 * 100vw);
  display: flex;
  align-items: center;
  height: 100vh;
  user-select: none;
  cursor: grab;
  z-index: 2;
  overflow: hidden;
  align-items: center;
}

.home-slider__inner {
  display: flex;
  position: relative;
}

.home-slide {
  overflow: hidden;

  &:first-child {
    position: relative;
  }

  &:not(:first-child) {
    position: absolute;
    top: 0;
    height: 100%;
  }
}

.home-slide__inner {
  position: relative;
  display: block;
  overflow: hidden;
  width: calc(1696 / 2560 * 100vw);
  padding-top: calc(950 / 1696 * 100%);

  & img {
    // display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    //
    width: 140%;
    left: -20%;
    '/
    object-fit: cover;
    will-change: transform;
  }
}

/*
.x-slider {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 12.5vw;
  cursor: grab;
}

.x-slider__in {
  display: flex;
}

.slide {
  margin-left: 12.5vw;

  & img {
    width: 100%;
    height: auto;
  }
}

.slide__aspect {
  width: 50vw;
  padding-top: var(--aspect);
}

.y-slider {
  position: relative;
  width: 100%;
  height: calc(var(--vh) * 100);
  overflow: hidden;
}

/*
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);

html, body{
  height: 100%;
}

body{
  position: relative;
  overflow: hidden;
  background-color: #111;
  font-family: 'helvetica neue', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.head{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2vw 2.5vw;
  pointer-events: none;
  z-index: 1000;

  > div {
    display: flex;
  }

  a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    pointer-events: all;
    overflow: hidden;

    div,
    &:after{
      transition: transform .85s $easeOutExpo;
    }

    &:after{
      content: attr(data-txt);
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      color: pink;
    }

    &:nth-child(2) {
      margin-left: 2vw;
    }

    &:hover{

      div,
      &:after{
       transform: translateY(-100%);
      }
    }
  }
}

.dom-gl{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.slider{
  position: relative;
  padding: 0 22.5vw;
  display: flex;
  align-items: center;
  height: 100%;
  user-select: none;
  cursor: grab;
  z-index: 2;

  &__inner{
    display: flex;
    position: relative;
  }
}

.slide{
  overflow: hidden;

  &:first-child{
    position: relative;
  }

  &:not(:first-child) {
    position: absolute;
    top: 0;
    height: 100%;
  }

  &__inner{
    position: relative;
    overflow: hidden;
    width: 55vw;
    padding-top: 56.5%;
  }

  img{
    display: none;

    /*
    height: 100%;
    width: 140%;
    position: absolute;
    top: 0;
    left: -20%;
    object-fit: cover;
    will-change: transform;

  }
}


.titles{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  pointer-events: none;
  z-index: 3;

  &__list {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    font-weight: bold;
    letter-spacing: -0.1vw;
    color: #fff;

    &--proxy {
      visibility: hidden;
    }
  }
}

.progress{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  overflow: hidden;
  pointer-events: none;

  &__line{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: #fff;

    &:nth-child(2) {
      transform-origin: right;
    }
  }
}
*/
