<h1 class="sr-only">PROFILE</h1>

<div class="pt-[8.2rem] pl-[3rem] overflow-hidden">
  <i class="icon-logo_sp profile-logo u-sp | text-[17.5rem] mb-[3.4rem] block"></i>
  <i class="icon-logo profile-logo u-pc | text-[30.8rem] | sm:block sm:text-center sm:w-full sm:mb-[6rem]"></i>

  <div class="text-right pr-[3rem]
    | sm:w-1/2 sm:absolute sm:left-1/2 sm:ml-[-.8rem] sm:text-left
  ">
    <h2 class="font-roboto text-[2.4rem] leading-[1.25] mb-[1.2rem]
      | sm:text-[3rem] sm:mb-[1rem]
    ">Nagisa Kubo</h2>
    <p class="font-roboto mb-[2.4rem] text-[#858585]
      | sm:mb-[3.2rem] sm:text-[1.4rem]
    ">Art Director & Designer</p>
    <div class="profile-about">
      {{ props.html | safe }}
    </div>
  </div>
</div>
