<h1 class="sr-only">PROFILE</h1>
<div class="prf-container">
  <div class="prf-container__in">
    <div class="prf-hgroup">
      <h2 class="prf-heading">Nagisa Kubo</h2>
      <p class="prf-hgroup__p">Art Director & Designer</p>
    </div>
    <div class="prf-about"></div>
  </div>
</div>
