.l-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  pointer-events: none;
  z-index: 99;
}

.l-brandLogo {
  font-size: 2.6rem;
  line-height: 1;
  color: var(--color-text-primary);
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  display: block;
  pointer-events: auto;
  z-index: 99;

  @media (--pc) {
    font-size: 3.6rem;
    top: 2.4rem;
    left: 2.4rem;
  }
}

.l-copyright {
  font-family: var(--font-en);
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
  color: var(--color-text-primary);
  letter-spacing: 0.2em;
  position: absolute;
  right: 3rem;
  bottom: 2.5rem;
  display: inline-block;
  z-index: 99;

  @media (--pc) {
    font-size: 1rem;
    bottom: 4rem;
    right: 4rem;
  }
}

.l-sns {
  position: absolute;
  text-align: center;
  bottom: 1rem;
  left: 2rem;
  z-index: 99;

  @media (--pc) {
    bottom: 4rem;
    left: 4rem;
  }
}

.l-window {
  position: relative;
  z-index: 1;
}

.l-content {
  position: relative;
  min-height: 100vh;
}

.l-content__h {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}

.l-page {
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 8rem;
    pointer-events: none;
  }
}
