---
layout: _layout.njk
title: WORKS
namespace: works
pagination:
  data: wp.works.items
  size: 10
  addAllPagesToCollections: false
---

{%
  set props = {
    entries: pagination.items,
    total: wp.works.total
  }
%}

{% include '../_inc/works/index.njk' %}
