.worksdetail-kv {
  position: relative;
  width: 100%;
  height: calc(var(--vh) * 100);
  overflow: hidden;

  @media (--pc) {
    height: 100vh;
  }
}

.worksdetail-kv__heading {
  font-family: var(--font-roboto);
  font-size: 3.9rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;

  @media (--pc) {
    font-size: 7rem;
  }
}

.worksdetail-kvSub {
  font-family: var(--font-roboto);
  font-size: 1.3rem;
  line-height: 1;
  color: var(--color-text-primary);
  letter-spacing: 0.02em;
  padding-left: 1.2rem;
  margin-top: 1rem;

  & .icon-arrow-right {
    font-size: 0.7rem;
    margin-left: 0.8rem;
  }
}
