---
permalink: /works-{{ pagination.pageNumber }}.json
pagination:
  data: wp.works.items
  size: 10
---
[{% for i in pagination.items %}
  {
    "id": "{{ i.id }}",
    "num": {{ wp.works.total - (loop.index0 + (10 * pagination.pageNumber)) }},
    "title": "{{ i.title | safe }}",
    "slug": "{{ i.slug }}",
    "createAt": "{{ i.createAt }}",
    "category": "{{ i.category }}",
    "eyecatch": {
      "pc": {
        "w": "{{ i.eyecatch.pc.w }}",
        "h": "{{ i.eyecatch.pc.h }}",
        "src": "{{ i.eyecatch.pc.src }}"
      },
      "sp": {
        "w": "{{ i.eyecatch.sp.w }}",
        "h": "{{ i.eyecatch.sp.h }}",
        "src": "{{ i.eyecatch.sp.src }}"
      }
    },
    "color": "{{ i.color }}",
    "gallery": "{{ i.gallery }}",
    "siteUrl": "{{ i.siteUrl }}",
    "role": [{% for j in i.role %}"{{ j }}"{% if loop.last === false %}, {% endif %}{% endfor %}]
  }{% if loop.last === false %},{% endif %}{% endfor %}
]
