---
permalink: "/v1/works-{{ pagination.pageNumber }}.json"
pagination:
  data: wp.works.items
  size: 10
---
[{% for i in pagination.items %}
  {
    "id": "{{ i.id }}",
    "index": "{{ wp.works.total - (loop.index0 + (10 * pagination.pageNumber)) }}",
    "title": "{{ i.title | safe }}",
    "slug": "{{ i.slug }}",
    "createAt": "{{ i.createAt }}",
    "category": "{{ i.category }}",
    "eyecatch": {
      "pc": {
        "width": "{{ i.eyecatch.pc.width }}",
        "height": "{{ i.eyecatch.pc.height }}",
        "src": "{{ i.eyecatch.pc.src }}",
        "srcset": "{{ i.eyecatch.pc.srcset }}"
      },
      "sp": {
        "width": "{{ i.eyecatch.sp.width }}",
        "height": "{{ i.eyecatch.sp.height }}",
        "src": "{{ i.eyecatch.sp.src }}",
        "srcset": "{{ i.eyecatch.sp.srcset }}"
      }
    },
    "color": "{{ i.color }}",
    "gallery": [{% for j in i.gallery %}
      {
        "width": "{{ j.width }}",
        "height": "{{ j.height }}",
        "src": "{{ j.src }}",
        "srcset": "{{ j.srcset }}"
      }{% if loop.last === false %},{% endif %}{% endfor %}
    ],
    "siteUrl": "{{ i.siteUrl }}",
    "role": [{% for j in i.role %}"{{ j }}"{% if loop.last === false %}, {% endif %}{% endfor %}]
  }{% if loop.last === false %},{% endif %}{% endfor %}
]
