@import '~css/base/_import.scss';

.slides {
  position: relative;
  width: 100%;
  height: calc(var(--vh) * 100);

  @media (--pc) {
    height: 100vh;
  }

  :global {
    .slick-list {
      height: 100%;
    }

    .slick-track {
      height: 100% !important;
      transition: .9s transform $power3easeInOut !important;
    }

    .slick-slide {
      height: 100% !important;
      position: relative;
      overflow: hidden;
      transition: .9s transform $power3easeInOut !important;
      transform-origin: 50% 50%;

      > div {
        height: 100%;
      }
    }

    .slick-arrow {
      position: absolute;
    }
  }
}

.slides:global(.is-animating) {
  :global {
    .slick-slide {
      transform: scale(0.75) skewX(-2deg) skewY(-5deg) perspective(1000px) rotateX(2deg);
    }
  }

  + .scroll {
    pointer-events: none;
  }
}

.scroll {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
  z-index: 2;

  :global {
    .icon-arrow-down {
      display: block;
      text-align: center;
      margin-top: 1.2rem;
    }
  }
}

.scrollLabel {
  font-family: var(--font-en);
  font-weight: 700;
  display: inline-block;
  letter-spacing: -.02em;
  font-size: 1.4rem;
  color: #fff;
  line-height: 1;

  @media (--pc) {
    font-size: 1.3rem;
  }

  > span {
    font-size: 1rem;
    letter-spacing: 0.02em;
    margin-left: 0.4rem;
  }

  // animation: front 6s cubic-bezier(0.77, 0, 0.175, 1) infinite;

    // &::before {
    //   position: absolute;
    //   bottom: -30px;
    //   display: block;
    //   content: 'scroll';
    //   transform-origin: left;
    //   animation: back 6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    // }
}
