<div class="worksdetail-kv">
  <picture>
    <source media="(max-width: 639px)" srcset="{{ props.eyecatch.sp.src }}">
    <img
      class="absolute h-full object-cover opacity-[.6]"
      src="{{ props.eyecatch.pc.src }}"
      alt=""
      decoding="async"
      importance="high"
    />
  </picture>
  <div class="wkslug-kv__cont | absolute top-1/2 left-0 w-full">
    <div class="worksdetail-hgroup">
      <p class="worksdetail-kv__num">
        {{ props.num }}
        <span>Project</span>
      </p>
      <h1 class="worksdetail-kv__heading">
        {{ props.title }}
      </h1>
      <p class="wkslug-sub | overflow-hidden">
        {{ props.category }}
        <i class="icon-arrow-right"></i>
      </p>
    </div>
  </div>
  <div class="wkslug-kv__scrollDown
    | absolute left-1/2 overflow-hidden transform -translate-x-1/2"
  >
    <div class="u-in overflow-hidden">
      <div class="wkslug-kv__scrollLabel">scroll</div>
    </div>
    <i class="icon-arrow-down | block text-center"></i>
  </div>
</div>

<div>
  <div class="worksdetail-intro">
    <div class="wkslug-intro__info">
      <dl>
        <dt class="mb-[1rem]">Year :</dt>
        <dd class="wkslug-dd">
          <time datetime="{{ props.createAt.datetime }}">{{ props.createAt.format }}</time>
        </dd>
      </dl>
      <dl>
        <dt class="mb-[1rem]">Role :</dt>
        {% for i in props.role %}<dd class="uppercase">{{ i }}</dd>{% endfor %}
      </dl>
    </div>
    {% if props.gallery %}

    {% endif %}
    {% if props.siteUrl %}
      <a
        class="wkslug-intro__viewLink"
        href="{{ props.siteUrl }}"
        target="_blank"
      >
        View website
        <div class="wkslug-intro__viewLink__hr"></div>
      </a>
    {% endif %}
  </div>

  <ul>
    <li></li>
  </ul>

  <aside class="worksdetail-kv">
    <a class="block" href="../{{ props.next.slug }}/">
      <picture>
        <source media="(max-width: 639px)" data-srcset="{{ props.next.eyecatch.sp.src }}">
        <img
          class="lazyload | absolute h-full object-cover filter grayscale opacity-[.6]"
          data-src="{{ props.next.eyecatch.pc.src }}"
          alt=""
          decoding="async"
        />
      </picture>
      <div class="wkslug-kv__cont | absolute top-1/2 left-0 w-full">
        <div class="worksdetail-hgroup">
          <h1 class="worksdetail-kv__heading">
            Next Project
          </h1>
          <p class="wkslug-sub | overflow-hidden">
            {{ props.next.title }}
            <i class="icon-arrow-right"></i>
          </p>
        </div>
      </div>
    </a>
  </aside>
</div>
