<div class="worksdetail-kv">
  <picture>
    <source
      media="(max-width: 639px)"
      srcset="{{ props.eyecatch.sp.src }}"
      width="{{ props.eyecatch.sp.width }}"
      height="{{ props.eyecatch.sp.height}}"
    >
    <img
      class="absolute w-full h-full object-cover opacity-[.6]"
      src="{{ props.eyecatch.pc.src }}"
      alt=""
      decoding="async"
      importance="high"
      width="{{ props.eyecatch.pc.width }}"
      height="{{ props.eyecatch.pc.height}}"
    />
  </picture>

  <div class="absolute top-1/2 left-[1rem] pl-[var(--grid)]">
    <p class="worksdetail-kv__num">
      {{ props.num }}
      <span>Project</span>
    </p>
    <h1 class="worksdetail-kv__heading | pr-[.5em]">
      {{ props.title }}
    </h1>
    <p class="wkslug-sub | overflow-hidden">
      {{ props.category }}
      <i class="icon-arrow_right"></i>
    </p>
  </div>

  <div class="absolute bottom-[4.5rem] left-1/2 overflow-hidden transform -translate-x-1/2">
    <div class="u-in overflow-hidden">
      <div class="wkslug-kv__scrollLabel">scroll</div>
    </div>
    <i class="icon-arrow_down | block mt-[1.4rem] text-center"></i>
  </div>
</div>

<div class="px-[3rem] pt-[6rem] pb-[10rem]">
  <div class="sm:sticky">
    <div class="mb-[6rem]">
      <dl class="mb-[3rem] font-roboto | u-cf">
        <dt class="float-left mr-[.5em] text-[#858585]">Year :</dt>
        <dd class="mb-[1.2rem] font-light text-[#cbcbcb] tracking-[.08em]">
          <time datetime="{{ props.createAt.datetime }}">{{ props.createAt.format }}</time>
        </dd>
        <dt class="float-left mr-[.5em] text-[#858585]">Role :</dt>
        <dd class="uppercase font-light text-[#cbcbcb] tracking-[.08em]">{% for i in props.role %}
          {{ i }}{% if loop.last === false %} / {% endif %}
        {% endfor %}
        </dd>
      </dl>
      {% if props.siteUrl %}
        <a
          class="worksdetail-viewWebsite | font-en font-bold tracking-[.02em]"
          href="{{ props.siteUrl }}"
          target="_blank"
          rel="noopener"
        >
          View website
          <div class="worksdetail-viewWebsite__hr"></div>
        </a>
      {% endif %}
    </div>
    {% if props.gallery.length %}
      <ul class="">
        {% for i in props.gallery %}
          <li class="mb-[2rem]">
            <img
              class="lazyload"
              data-src="{{ i.src }}"
              width="{{ i.width }}"
              height="{{ i.height }}"
              alt=""
              decoding="async"
            />
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>

<aside class="worksdetail-kv | h-screen">
  <a class="" href="../{{ props.next.slug }}/">
    <picture>
      <source
        media="(max-width: 639px)"
        data-srcset="{{ props.next.eyecatch.sp.src }}"
        width="{{ props.next.eyecatch.sp.width }}"
        height="{{ props.next.eyecatch.sp.height}}"
      >
      <img
        class="lazyload | absolute w-full h-full object-cover filter grayscale opacity-[.6]"
        data-src="{{ props.next.eyecatch.pc.src }}"
        alt=""
        decoding="async"
        width="{{ props.next.eyecatch.pc.width }}"
        height="{{ props.next.eyecatch.pc.height}}"
      />
    </picture>
    <div class="absolute top-1/2 left-[1rem] pl-[var(--grid)]">
      <h2 class="worksdetail-kv__heading">
        Next Project
      </h2>
      <p class="wkslug-sub | overflow-hidden">
        {{ props.next.title }}
        <i class="icon-arrow_right"></i>
      </p>
    </div>
  </a>
</aside>
