.heading {
  position: relative;
  font-weight: bold;
  padding: 0 calc(var(--gap) * 2);
  font-family: var(--font-roboto);
  font-size: 5.3rem;
  line-height: 1;

  @media (min-width: 640px) {
    margin: 0 auto;
    left: 2rem;
    width: calc(var(--grid) * 10);
    padding: 0 0 0 calc(var(--grid) * 0.5 + var(--gutter));
    font-size: 7.6rem;
  }
}

.heading__total {
  position: absolute;
  top: 0.4em;
  margin-left: 0.5em;
  font-family: var(--font-en);
  font-style: italic;
  font-size: calc(26.6 / 106.4 * 100%);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-text-primary);
  letter-spacing: -0.02em;

  @media (min-width: 640px) {
    font-size: 2.4rem;
  }
}
