@use '~css/base/_import.scss';

.heading {
  position: relative;
  padding: 0 calc(var(--gap) * 2);
  margin: 10rem 0 6rem;
  font-family: var(--font-roboto);
  font-size: 5.3rem;
  font-weight: bold;
  line-height: 1;

  @media (--pc) {
    position: relative;
    left: 2rem;
    width: calc(var(--grid) * 10);
    padding: 0 0 0 calc(var(--grid) * 0.5 + var(--gutter));
    margin: 15rem auto 3.6rem;
    font-size: 7.6rem;
  }

  &__total {
    position: absolute;
    top: 0.5em;
    margin-left: 0.5em;
    font-family: var(--font-en);
    font-size: calc(26.6 / 106.4 * 100%);
    font-weight: 500;
    color: var(--color-text-primary);
    letter-spacing: 0.41em;
  }
}
