.profile-logo {
  background: url('/grad.jpg') repeat;
  background-size: 300% 400%;
  animation: gradAnim 10s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-about {
  font-size: 1.1rem;
  line-height: calc(40 / 22);
  color: #d6d6d6;

  @media (min-width: 640px) {
    font-size: 1.3rem;
  }
}
