@use '~css/base/_import.scss';

.intro {
  position: relative;
  width: 100%;
  padding: 6rem calc(var(--gap) * 2) 7rem;

  @media (--pc) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: calc(var(--grid) * 10);
    padding: 10rem var(--grid) 9rem;
    margin: 0 auto;
  }
}

.intro__info {
  margin-bottom: 5rem;

  @media (--pc) {
    width: calc(3 / 8 * 100%);
    margin-bottom: 0;
  }
}

.dl {
  > dt {
    margin-bottom: 1em;
    font-family: var(--font-roboto);
    font-size: 1.1rem;
    color: var(--color-text-primary);

    @media (--pc) {
      font-size: 1.1rem;
    }
  }

  > dd {
    font-family: var(--font-en);
    font-size: 1.1rem;
    font-weight: 500;
    line-height: calc(38 / 26);
    letter-spacing: 0.08em;

    @media (--pc) {
      font-size: 1.3rem;
    }
  }

  + .dl {
    margin-top: 3.2rem;

    @media (--pc) {
      margin-top: 4rem;
    }
  }
}

.intro__p {
  text-align: right;

  @media (--pc) {
    width: calc(5 / 8 * 100%);
  }

  :global {
    .c-link {
      margin-top: 5rem;
      letter-spacing: 0.08em;

      @media (--pc) {
        margin-top: 3.5rem;
        font-size: 1.4rem;
      }
    }
  }
}

.desc {
  text-align: left;

  p {
    font-size: 1.3rem;
    line-height: calc(46 / 26);
    text-align: left;
  }
}
