<article class="o-grid__item | mb-[4rem]">
  <a href="./{{ j.slug }}/" class="relative block">
    <img
      class="lazyload | filter grayscale-100 opacity-[.8]"
      data-src="{{ j.src }}"
      data-srcset="{{ j.srcset }}"
      width="{{ j.width }}"
      height="{{ j.height }}"
      decoding="async"
      alt=""
    />
    <div class="absolute bottom-[2rem] left-[-1.2rem]">
      <p class="works-entryNum">
        {{ j.index }}<span class="ml-[.5em]">Project</span>
      </p>
      <h2 class="works-entryHeading">{{ j.tilte }}</h2>
    </div>
  </a>
</article>
