<div class="wrk-container">
  <h1 class="wrk-heading">
    <div>
      Works<sup class="wrk-heading__total">{{"11"}}</sup>
    </div>
  </h1>
  <div class="o-grid wrk-entryList | js-works"></div>
</div>
