.wk-mainHeading {
  padding: 0 calc(var(--margin-site) * 2);
  font-family: var(--font-roboto);
  font-size: 5.3rem;
  line-height: 1;
  position: relative;
}

.wk-mainHeading__sup {
  font-family: var(--font-en);
  font-size: calc(26.6 / 106.4 * 100%);
  font-weight: 500;
  color: var(--color-text-primary);
  letter-spacing: 0.41em;
  position: absolute;
  top: 0.5em;
  margin-left: 0.5em;
}

.wk-entryNum {
  font-size: 1.5rem;
  color: var(--color-text-primary);
  font-family: var(--font-en);
  font-weight: 700;
  letter-spacing: -0.02em;

  & > span {
    font-size: calc(26 / 38 * 100%);
    letter-spacing: 0.02em;
  }
}

.wk-entryHeading {
  font-family: var(--font-roboto);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.4;
}
