.works-heading {
  position: sticky;
  top: 10rem;
  padding: 0 calc(var(--margin-site) * 2);
  margin: 10rem 0 6rem;
  font-family: var(--font-roboto);
  font-size: 5.3rem;
  font-weight: bold;
  line-height: 1;
  will-change: opacity;

  @media (--pc) {
    width: calc(var(--grid) * 10);
    padding: 0 0 0 calc(var(--grid) * 0.5 + var(--gutter));
    margin: 14rem auto 3.6rem;
    font-size: 7.6rem;
  }

  & > sup {
    position: absolute;
    top: 0.5em;
    margin-left: 0.5em;
    font-family: var(--font-en);
    font-size: calc(26.6 / 106.4 * 100%);
    font-weight: 500;
    color: var(--color-text-primary);
    letter-spacing: 0.41em;
  }
}

.works-entries {
  padding: 0 calc(var(--margin-site) * 2) 6.4rem;

  @media (--pc) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(var(--grid) * 10);
    padding: 0 0 24.4rem;
    margin: 0 auto;
  }

  & .o-grid__item {
    margin-bottom: 4rem;

    @media (--pc) {
      width: calc(var(--grid) * 4);
      margin-bottom: 6.4rem;

      &:nth-child(2n - 1) {
        margin-top: 9.6rem;
        margin-left: 3.4rem;
      }
    }

    & > a {
      position: relative;
      display: block;
      margin-left: 3.2rem;

      @media (--pc) {
        margin-left: 0;
      }

      &::before {
        display: block;
        padding: calc(960 / 1536 * 100%) 0 0;
        content: '';
      }
    }
  }

  & [data-scroll-skew] {
    backface-visibility: hidden;
  }
}

.works-entry__hgroup {
  position: absolute;
  bottom: 2rem;
  left: -1.2rem;

  @media (--pc) {
    bottom: 4.5rem;
    left: -3.4rem;
  }

  & > p {
    font-family: var(--font-en);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-text-primary);
    letter-spacing: -0.02em;

    @media (--pc) {
      font-size: 1.9rem;
    }
  }

  & > h2 {
    font-family: var(--font-roboto);
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.4;
    color: #fff;

    @media (--pc) {
      font-size: 3rem;
    }
  }
}

.works-eyecatch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;

  & > img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    object-fit: cover;
  }
}

.works-loader {
  padding: 3.2rem 0;
}
