:root {
  --font: 'Noto Sans JP', sans-serif;
  --font-en: 'Montserrat', sans-serif;
  --font-roboto: 'Roboto Condensed', sans-serif;

  --grid: calc(1 / 12 * 100vw);
  --gutter: 0;
  --grid-gutter: 1.6rem;

  --vh: 1vh;

  --gap: calc(30 / 750 * 100vw);
  --aspect: 100%;

  /* color */
  --color-text: #e3e3e3;
  --color-text-primary: #858585;
  --color-theme: #1793a9;

  /* noise */
  --z-noise: 1;
  --z-section: 5;
  --z-header: 10;
  --z-mask: 90;
  --z-menu: 100;

  @media (min-width: 640px) {
    --gap: calc(40 / 1280 * 100vw);
    --gutter: calc(16 / 1280 * 100vw);
  }
}

@import './base/_import.css';
@import './base/_custom-properties.css';
@import './base/_base.css';
@import './base/_fonts.css';

@import './parts/_ctrl.css';
@import './parts/_grid.css';
@import './parts/_aspect.css';
@import './parts/_progress.css';

@import './_utils.css';
@import './_shame.css';


