.cursor {
  display: none;

  @media (--pc) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;

    &:not(.is-popup) {
      mix-blend-mode: difference;
    }
  }

  &.is-popup {
    & .cursor__circle {
      transform: scale(0);
    }

    & .cursor__close {
      opacity: 1;
    }
  }
}

.cursor__circle {
  @media (--pc) {
    position: absolute;
    top: -17px;
    left: -17px;
    width: 34px;
    height: 34px;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: scale(calc(14 / 34));

    &.is-hit {
      transform: scale(1);
    }
  }
}

.cursor__close {
  @media (--pc) {
    position: absolute;
    top: -26px;
    left: -26px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: rotate(45deg);
  }

  & > span {
    display: block;
    width: 22px;
    height: 2px;
    background: #000;

    & + span {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -11px;
      transform: rotate(90deg);
    }
  }
}
