@use '~css/base/_import.scss';

.navMenu {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 100;

  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.8s;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: (46 / 2) + rem;
    height: 100vh;
    background-color: #000;
    clip-path: polygon(
      100% 0px,
      100% 0px,
      100% calc(var(--vh) * 100),
      100% calc(var(--vh) * 100)
    );
    backface-visibility: hidden;
  }

  &:global(.is-open) {
    pointer-events: all;

    :local {
      .navMenu__mask {
        opacity: .5;
      }
    }
  }

  &:global(.is-animating) {
    pointer-events: none;

    :local {
      .navMenu__bg {
        will-change: clip-path;
      }

      .navMenu__mask {
        will-change: opacity;
      }

      .link {
        will-change: transform, opacity;
      }
    }
  }
}

.menuList {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 7rem;
  padding-right: 3rem;
  text-align: right;

  @media (--pc) {
    padding-top: 4rem;
    padding-right: 4rem;
  }

  > li {
    overflow: hidden;
  }
}

.link {
  font-family: var(--font-en);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: (86 / 28);
  letter-spacing: .41em;
  color: #fff;
  pointer-events: auto;
  display: inline-block;
  vertical-align: top;
  opacity: 0;

  @media (--pc) {
    font-size: 1.3rem;
    line-height: (52 / 26);
  }
}

