<button class="c-burger u-sp" aria-label="menu" data-component="Menu">
  <div class="u-in my-0 mx-auto transform-gpu flex items-center justify-center flex-col z-10">
    <div class="c-burger__line js-burgerLine--1"></div>
    <div class="c-burger__line js-burgerLine--2"></div>
  </div>
</button>
