<button class="c-burger u-sp | js-menu__onOff" aria-label="menu" data-ref="menuTrigger">
  <div class="u-in my-0 mx-auto transform-gpu flex items-center justify-center flex-col z-10">
    <div class="c-burger__line" data-ref="burgerTopLine"></div>
    <div class="c-burger__line" data-ref="burgerBottomLine"></div>
  </div>
</button>
