<header class="fixed">
  <a href="/"
    class="brandLogo
    | fixed top-[1.5rem] left-[2rem] block pointer-events-auto z-[99]
    | sm:top-[2.4rem] sm:left-[2.4rem]"
  >
    <i class="icon-logo"></i>
    <span class="sr-only">KuboNiku.com</span>
  </a>
  <button class="burger u-sp" aria-label="MENU">
    <div class="u-in my-0 mx-auto transform-gpu flex items-center justify-center flex-col z-10">
      <div class="burger__line js-burgerLine--1"></div>
      <div class="burger__line js-burgerLine--2"></div>
    </div>
  </button>
  <div class="fixed text-center bottom-[1rem] left-[2rem] z-[99]
    | sm:bottom-[4rem] sm:left-[4rem]"
    data-module-sns
  >
    <ul class="mb-[2.5rem]">
      <li class="snsList__item">
        <a href="{{ conf.fb }}" target="_blank" rel="noopener" class="snsList__a" data-sns-icon>Fb</a>
      </li>
      <li class="snsList__item">
        <a href="{{ conf.tw }}" target="_blank" rel="noopener" class="snsList__a" data-sns-icon>Tw</a>
      </li>
    </ul>
    <button class={"plus js-snsTrigger " + cn({ "is-open": isOpen })} data-sns-trigger>
      <div class="u-in">
        <div class="plus__x | absolute top-1/2 left-0"></div>
        <div class="plus__y | absolute top-1/2 left-0"></div>
      </div>
    </button>
  </div>
  <small class="copyright
    | fixed right-[3rem] bottom-[2.5rem] inline-block pointer-events-none z-[99]
    | sm:bottom-[4rem] sm:right-[4rem]"
  >&copy; KuboNiku.com</small>
</header>
