{% set metaTitle =  title + " | " + conf.siteName if title else conf.siteName %}
{% set ogType = 'website' if namespace == 'home' else 'article' %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Content-Type" content="text/html" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ metaTitle }}</title>
    <meta name="description" content="{{ conf.metaDescription }}" />
    <meta property="og:type" content="{{ ogType }}" />
    <meta property="og:title" content="{{ metaTitle }}" />
    <meta property="og:description" content="{{ conf.metaDescription }}" />
    <meta property="og:image" content="{{ conf.baseUrl }}/ogp.jpg" />
    <meta property="og:site_name" content="{{ conf.siteName }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Noto+Sans+JP:wght@400;700&family=Roboto+Condensed:wght@300;400;700&display=swap"
      media="print"
      onload="this.media='all'"
    />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=MediaQueryList.prototype.addEventListener%2CMediaQueryList.prototype.removeEventListener%2CString.prototype.padStart%2CIntersectionObserver%2CResizeObserver" defer></script>

    {% if conf.env === "production" %}<script type="module" src="./main.js" defer></script>
    {% else %}<script type="module" src="http://localhost:3000/src/entry.ts" defer></script>
    {% endif %}
  </head>

  <body
    class=""
    data-page="{{ namespace }}"
    data-component="Menu"
  >

    <header class="l-fixed l-header">

      <a href="/" class="l-brandLogo">
        <i class="icon-logo"></i>
        <span class="sr-only">KuboNiku.com</span>
      </a>

      <button class="c-burger | js-menu__onOff" aria-label="menu" data-ref="menuTrigger" mobile>
        <div class="u-in my-0 mx-auto transform-gpu flex items-center justify-center flex-col z-10">
          <div class="c-burger__line" data-ref="burgerTopLine"></div>
          <div class="c-burger__line" data-ref="burgerBottomLine"></div>
        </div>
      </button>

      <div class="l-sns" data-component="Sns">
        <ul class="mb-[2.5rem] text-center">
          <li class="overflow-hidden mb-[2rem]">
            <a
              href="{{ conf.fb }}"
              target="_blank"
              rel="noopener"
              class="snsLabel"
              data-ref="icon"
            >Fb</a>
          </li>
          <li class="overflow-hidden">
            <a
              href="{{ conf.tw }}"
              target="_blank"
              rel="noopener"
              class="snsLabel"
              data-ref="icon"
            >Tw</a>
          </li>
        </ul>
        <button
          class="snsPlus"
          aria-label="sns"
          data-ref="toggleTrigger"
        >
          <div class="u-in">
            <div class="snsPlus__x"></div>
            <div class="snsPlus__y"></div>
          </div>
        </button>
      </div>

      <small class="l-copyright">&copy; KuboNiku.com</small>
    </header>

    <nav class="navMenu" data-ref="menuBody">
      <div class="u-in">
        <div class="navMenu__mask" data-ref="menuMask" mobile></div>
        <div class="navMenu__bg" data-ref="menuBg" mobile></div>
        <ul class="menuList">
          <li><a href="/profile/" class="menuLink" data-ref="menuLabel">Profile</a></li>
          <li><a href="/works/" class="menuLink" data-ref="menuLabel">Works</a></li>
          <li><a href="{{ conf.mailto }}" class="menuLink" data-ref="menuLabel">Contact</a></li>
        </ul>
      </div>
    </nav>

    <div class="l-window" data-router-wrapper>
      <div class="l-content" data-router-view="{{ namespace }}" data-component="{{ namespace }}">
        <div class="l-content__h"></div>
        <main class="l-page">
          {{ content | safe }}
        </main>
      </div>
    </div>

    <div class="gl" data-component="GLWorld"></div>
  </body>
</html>
