<nav class="navMenu" data-ref="menuBody">
  <div class="relative w-full h-full">
    <div class="navMenu__mask | u-sp" data-ref="menuMask"></div>
    <div class="navMenu__bg | u-sp" data-ref="menuBg"></div>
    <ul class="menuList">
      <li><a href="/profile" class="menuLink" data-ref="menuLabel">Profile</a></li>
      <li><a href="/works" class="menuLink" data-ref="menuLabel">Works</a></li>
      <li><a href="{{ conf.mailto }}" class="menuLink" data-ref="menuLabel">Contact</a></li>
    </ul>
  </div>
</nav>
