<div class="l-sns" data-component="Sns">
  <ul class="mb-[2.5rem] text-center">
    <li class="overflow-hidden mb-[2rem]">
      <a
        href="{{ conf.fb }}"
        target="_blank"
        rel="noopener"
        class="snsLabel"
        data-ref="icon"
      >Fb</a>
    </li>
    <li class="overflow-hidden">
      <a
        href="{{ conf.tw }}"
        target="_blank"
        rel="noopener"
        class="snsLabel"
        data-ref="icon"
      >Tw</a>
    </li>
  </ul>
  <button
    class="snsPlus"
    aria-label="sns"
    data-ref="toggleTrigger"
  >
    <div class="u-in">
      <div class="snsPlus__x"></div>
      <div class="snsPlus__y"></div>
    </div>
  </button>
</div>
