@keyframes drawPlus {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes gradAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes front {
  0%,
  70% {
    transform: translateZ(0);
  }

  100% {
    transform: translate3d(0, 20px, 0);
  }
}

@keyframes back {
  0%,
  70% {
    transform: translateZ(0) rotate(30deg) skewX(30deg);
  }

  100% {
    transform: translate3d(0, -50px, 0) rotate(0) skewX(0);
  }
}
